div.Jueves{

    text-align: center;
    font-family: impact;
    font-size: 30px;
    
}





div.Martes16{

font-family: Impact;
font-size: 30px;
}

h1.Tittle{
color: white;
text-align: center;

}

h1.Tittle2{
color: red;
text-align: center;

}

h1.Tittle3{

color: blue;
text-align: center;


}


 

p{

    color: white;
margin: 100px;
}



p.VS{

margin: -45px;

}
p.VS2{

margin: -40px;

}




p.VS3{


margin: -40px;


}



img.ecuador32{
margin-right: 30px;

}


img.Paraguayflag{
    margin-right: 30px;



}


